{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="author-card">
    {{#if profile_image}}
        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
    {{else}}
        <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
    {{/if}}
    <h4 class="author-card-name"><a href="{{url}}">{{name}}</a></h4>
    <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
</section>

{{/primary_author}}
